---
import Section from "./Section.astro";
---

<Section>
  <article class="z-30 relative h-full flex flex-col p-6 sm:p-12 justify-end items-end">
    <header class="max-w-sm mb-16 flex flex-col">
      <h2 class="text-5xl text-white font-light text-left mb-8">
        Charge
      </h2>
      <p class="mb-10 text-left text-white">Rapid Charge Systems both on and off
        airports enable commercial electric flight</p>
      <a
        href="#"
        class="py-3 w-fit uppercase tracking-wider text-zinc-900 text-sm px-12 bg-zinc-50 hover:bg-zinc-200 transition-colors rounded-xl rounded-bl-none rounded-tr-none"
        >Learn More</a
      >
    </header>
  </article>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <div class="absolute top-0 bottom-0 h-full w-full z-20 bg-gradient-to-b from-transparent to-black/50" />
    <img
    slot="background"
    loading="lazy"
    decoding="async"
    class="object-center object-cover h-full w-full font-light"
    alt="Charget station for electric aircrafts"
    src="/charger.webp"></img>
    </div>
</Section>
